{% extends 'base.html' %}

{% block content %}
<style>
  .background-image {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background: url('https://images.pexels.com/photos/1366942/pexels-photo-1366942.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1') no-repeat center center fixed;
    background-size: cover;
    opacity: 0.9;
    z-index: -1;
  }

  .centered-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
  }
</style>

<div class="background-image"></div>

<div class="centered-content">
  <h1>SynBio Source</h1>
  <p class="fs-5">
    Welcome to SynBio Source, a repository for Synthetic Biology Datasets.
  </p>
  <p class="fs-5">Hit the button below to start exploring.</p>
  {% if user.is_authenticated %}
    <a class="btn btn-primary btn-sm px-2" href="{% url 'member_zone' %}">Member Zone</a>
  {% else %}
    <a class="btn btn-primary btn-sm px-2" href="{% url 'login' %}">Login</a>
  {% endif %}
</div>

{% endblock %}
